<footer class="footer">
    <div class="footer__inner">
        <ul class="social-links">
            <li><a
                href="{{ author.social.twitter.url }}" 
                class="fab fa-twitter" 
                aria-label="Twitter">
            </a></li>
            <li><a 
                href="{{ author.social.artstation.url }}" 
                class="fab fa-artstation"
                aria-label="Artstation"
            ></a></li>
            <li><a 
                href="{{ author.social.vimeo.url }}" 
                class="fab fa-vimeo"
                aria-label="Vimeo"
            ></a></li>
            <li><a 
                href="{{ author.social.github.url }}" 
                class="fab fa-github"
                aria-label="Github"
            ></a></li>
        </ul>
    </div>
</footer>