<header class="header" role="banner">
    <div class="wrapper header__inner"> 
        <a class="header__brand" href="/" rel="home" aria-label="Go To Homepage">mauro</a>
        <div class="header__nav">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>