<footer>
    <div class="footer-box">
        <ul class="social-link-list">
            <li><a href="{{ author.social.twitter.url }}" class="fab fa-twitter"></a></li>
            <li><a href="{{ author.social.artstation.url }}" class="fab fa-artstation"></a></li>
            <li><a href="{{ author.social.vimeo.url }}" class="fab fa-vimeo"></a></li>
            <li><a href="{{ author.social.github.url }}" class="fab fa-github"></a></li>
        </ul>

        {# Navigation in footer
        <nav class="nav-footer">
            <ul>
                <li><a href="index.html">Work</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        #}
    </div>
</footer>