<header role="banner">
    <div class="header-container"> 

        <a href="/" rel="home" aria-label="Go To Homepage">
            <h1 class="logo">mauro</h1>
        </a>

        {% include "components/navigation.njk" %}

    </div>
</header>