{# Nav Links  #}
{% set navPages = collections.all | eleventyNavigation %}

<nav class="header-nav">
    <ul id="nav-menu">
        {%- for item in navPages -%}
            {%- if item.url -%}
                {%- set isCurrent = (item.url == page.url) -%}
                {%- set isParent = item.url != '/' and item.url in page.url -%}
                <li class="nav__item{% if isCurrent or isParent %} nav__item--active{% endif %}">
                    <a
                        href="{{ item.url | url }}"
                        class="nav__link"
                        {% if isCurrent %}aria-current="page"{% endif %}
                    > 
                        {{ item.title }}
                    </a>
                </li>
            {%- endif -%}
        {%- endfor -%}
    </ul>
</nav>

<div class="nav-toggle" aria-controls="nav-menu" aria-label="toggle menu">
    <div class="hamburger"></div>
</div>