# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Private/secret files
*.der
*.key
*.pem

# Node modules and output
node_modules
dist