---
title: 36 Days of Type
projectType: Personal Work
description:
    <p>In 2017 I joined the <a href="https://www.36daysoftype.com/">36 Days of Type</a> challenge for the first time. My goal was to associate each letter with an object that begins with the respective character. I was mostly able to stick to that convention, though some of the associations are admittedly a bit far fetched.</p>
    
    <p>Creating daily illustrations in the available freetime between work and sleep turned out to be challenging but rewarding. Due to the time constraint I had to let go of my usual perfectionism and instead concentrate on getting each letter done by the end of the day. Nevertheless, I had plenty of fun and learned a lot about working efficiently from sketch to finished rendering. I also got much more confident in using strong colours in my compositions.</p>
date: 2017-05-31
displayOrder: 2
thumbnail: /assets/images/36-days-of-type/C.jpg
hero:
    image: /assets/images/36-days-of-type/hero.jpg
    imageAlt: Overview of the best letters.
---

<div class="img-gallery">
    {% respimg "/assets/images/36-days-of-type/C.jpg" %}
    {% respimg "/assets/images/36-days-of-type/E.jpg" %}
    {% respimg "/assets/images/36-days-of-type/R.jpg" %}
    {% respimg "/assets/images/36-days-of-type/T.jpg" %}
    {% respimg "/assets/images/36-days-of-type/Z.jpg" %}
    {% respimg "/assets/images/36-days-of-type/1.jpg" %}
    {% respimg "/assets/images/36-days-of-type/collection_01.jpg" %}
    {% respimg "/assets/images/36-days-of-type/collection_02.jpg" %}
    {% respimg "/assets/images/36-days-of-type/collection_03.jpg" %}
    {% respimg "/assets/images/36-days-of-type/collection_04.jpg" %}
</div>