---
title: Balélec Poster
projectType: Personal Work
description:
    <p>Poster design for the Balélec festival at EPFL in Switzerland.</p>

    <p>More infos coming soon.</p>
date: 2017-10-02
displayOrder: 4
thumbnail: /assets/images/balelec-poster/thumbnail.jpg
hero:
    image: /assets/images/balelec-poster/hero.jpg
    imageAlt: Festival poster with stylized balloon in the shape of a music note.
---

<div class="content-wrapper">
    {% respimg "/assets/images/balelec-poster/poster-zebra.jpg" %}
    {% respimg "/assets/images/balelec-poster/poster-red.jpg" %}
    {% respimg "/assets/images/balelec-poster/zebra-detail.jpg" %}
    {% respimg "/assets/images/balelec-poster/red-detail.jpg" %}
</div>