---
title: Balélec Poster
projectType: Personal Work
description: |-
    Poster design for the Balélec festival at EPFL in Switzerland.

    More infos coming soon.
date: 2017-10-02
displayOrder: 4
thumbnail: images/balelec-poster/thumbnail.jpg
hero:
    image: images/balelec-poster/hero.jpg
    imageAlt: Festival poster with stylized balloon in the shape of a music note.
---

<div class="img-gallery">
    {% respimg "images/balelec-poster/poster-zebra.jpg", loading="lazy" %}
    {% respimg "images/balelec-poster/poster-red.jpg", loading="lazy" %}
    {% respimg "images/balelec-poster/zebra-detail.jpg", loading="lazy" %}
    {% respimg "images/balelec-poster/red-detail.jpg", loading="lazy" %}
</div>