---
title: Floating Beads
projectType: Personal Work
description: |-
    Inspired by [Mario Carrillo's](https://marioecg.com) openFrameworks experiments.

    More infos coming soon.
date: 2020-12-29
displayOrder: 3
thumbnail: /assets/images/floating-beads/beads_01.jpg
hero:
    image: /assets/images/floating-beads/hero.jpg
    imageAlt: Abstract spiral containing glowing bubbles.
---

{% vimeo "https://player.vimeo.com/video/623749650?h=8aaa745444", "1-1" %}