---
title: Floating Beads
projectType: Personal Work
description:
    <p>Inspired by <a href="https://marioecg.com/">Mario Carrillo's</a> Openframework experiments.</p>

    <p>More infos coming soon.</p>
date: 2020-12-29
displayOrder: 3
thumbnail: /assets/images/floating-beads/beads_01.jpg
hero:
    image: /assets/images/floating-beads/hero.jpg
    imageAlt: Abstract spiral containing glowing bubbles.
---

{% vimeo "https://player.vimeo.com/video/623749650?h=8aaa745444", "1-1" %}