---
title: Periodic Motion
projectType: Personal Work
description: |-
    This project started with a simple exploration of recursive subdivision, 
    the process of repetitively subdividing an object into smaller pieces. 
    When the individual pieces change their sizes fascinating motion patterns
     emerge in the overall structure. 

    From there I started developing four seamless motion graphic loops 
    featuring different geometric shapes and color palettes. The compilation 
    of those loops reflects the four seasons which themselves are also a
    periodic and neverending motion.

    The fantastic soundtrack was composed by [Céline Fankhauser](https://www.instagram.com/fankhauser.celine/).

date: 2021-12-10
displayOrder: 0
thumbnail: /assets/images/periodic-motion/thumbnail.jpg
hero:
    image: /assets/images/periodic-motion/hero.jpg
    imageAlt: Abstract geometric objects representing the four seasons.
---

{% vimeo "https://player.vimeo.com/video/652609875?h=987debe506", "16-9", title %} 

<div class="img-gallery">
    {% respimg "images/periodic-motion/summer_detail.jpg", loading="lazy"%}
    {% respimg "images/periodic-motion/autumn_detail.jpg", loading="lazy"%}
    {% respimg "images/periodic-motion/winter_detail.jpg", loading="lazy"%}
    {% respimg "images/periodic-motion/spring_detail.jpg", loading="lazy"%}
</div>