---
title: Toyota Land Cruiser
projectType: Personal Work
description: |-
    Ever since I discovered the art of [Isaac Orloff](https://www.isaacorloff.com) and in particular his car concepts, I felt the urge to recreate them in 3D. So when his interpretation of the Toyota Land Cruiser popped up on my Twitter feed I had to give it a try.

    Originally, I intended the project simply as a modelling exercise and a practise to translate a 2D concept into 3D. However, after being done with the modelling and shading the project still felt unfinished. Adding a short assembly animation as well as a comical element with the drop of the piano helped rounding it off.
date: 2019-10-08
displayOrder: 1
thumbnail: /assets/images/toyota-land-cruiser/toyota_01.jpg
hero:
    image: images/toyota-land-cruiser/toyota_01.jpg
    imageAlt: Stylized yellow Toyota Land Cruiser.
---

{% vimeo "https://player.vimeo.com/video/365245669?h=bc634be4ca", "1-1", title %} 

<div class="img-gallery">
    {% respimg "images/toyota-land-cruiser/toyota_01.jpg", loading="lazy"%}
    {% respimg "images/toyota-land-cruiser/toyota_02.jpg", loading="lazy"%}
    {% respimg "images/toyota-land-cruiser/toyota_03.jpg", loading="lazy"%}
    {% respimg "images/toyota-land-cruiser/toyota_04.jpg", loading="lazy"%}
    {% respimg "images/toyota-land-cruiser/toyota_05.jpg", loading="lazy"%}
    {% respimg "images/toyota-land-cruiser/toyota_06.jpg", loading="lazy"%}
</div>