---
title: Toyota Chinook Camper
projectType: Personal Work
description: |-
    Inspired [Isaac Orloff’s](https://www.isaacorloff.com) concept of a Toyota Chinook camper.

    More infos coming soon.
date: 2017-02-09
displayOrder: 5
thumbnail: /assets/images/toyota-chinook-camper/camper_01.jpg
hero:
    image: images/toyota-chinook-camper/camper_01.jpg
    imageAlt: Stylized camper van in front of billboard.
---

{% vimeo "https://player.vimeo.com/video/203358964?h=a92c65e782", "16-9", title %}