---
title: Toyota Land Cruiser
projectType: Personal Work
description:
    <p>The focus of this project laid on the translation of a 2D concept into 3D space. 
    I had seen <a href="https://www.isaacorloff.com/">Isaac Orloff's</a> work on Twitter 
    and fell in love with his interpretation of the Toyota Land Cruiser.</p>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
date: 2019-10-08
displayOrder: 1
thumbnail: /assets/images/toyota_01.jpg
hero:
    image: /assets/images/toyota_01.jpg
    imageAlt: Stylized yellow Toyota Land Cruiser.
---

{% vimeo "https://player.vimeo.com/video/365245669?h=bc634be4ca" %} 

<div class="content-wrapper">
    {% respimg "/assets/images/toyota_01.jpg"%}
    {% respimg "/assets/images/toyota_02.jpg"%}
    {% respimg "/assets/images/toyota_03.jpg"%}
    {% respimg "/assets/images/toyota_04.jpg"%}
    {% respimg "/assets/images/toyota_05.jpg"%}
    {% respimg "/assets/images/toyota_06.jpg"%}
</div>