---
title: Toyota Chinook Camper
projectType: Personal Work
description:
    <p>Inspired <a href="https://www.isaacorloff.com/">Isaac Orloff's</a> concept of a Toyota Chinook camper.</p>

    <p>More infos coming soon.</p>
date: 2017-02-09
displayOrder: 5
thumbnail: /assets/images/toyota-chinook-camper/camper_01.jpg
hero:
    image: /assets/images/toyota-chinook-camper/camper_01.jpg
    imageAlt: Stylized camper van in front of billboard.
---

{% vimeo "https://player.vimeo.com/video/203358964?h=a92c65e782" %}