---
layout: base
permalink: /404/
eleventyExcludeFromCollections: true
---

<div class="error-404 centered-text flow">
    <p class="eyebrow">Error 404</p>
    <h1 class="heading-underline">Ooops, something went wrong!</h1>
    <p>Sorry about that - might be a typo in the URL, or maybe this page has moved?</p>
    <div class="error-404__align">
        <a class="error-404__button" href="/">Go back home</a></button>
    </div>
</div>