---
layout: base
permalink: /404/
eleventyExcludeFromCollections: true
---

<div>
    <p>Error 404</p>
    <h1>Ooops, something went wrong!</h1>
    <div>
        <p>Sorry about that - might be a typo in the URL, or maybe this page has moved?</p>
        <p><a href="/">Go Back Home</a></p>
    </div>
</div>