---
layout: base
title: About Me
eleventyNavigation:
    key: About
    order: 2
permalink: /{{ eleventyNavigation.key | slug }}/
---

<div class="about flow">
    <div class="about__photo">
        {% respimg "images/avatar/mauro-pfister.jpg" %}
    </div>

    <div class="about__intro centered-text flow">
        <h1 class="heading-underline">Hi. I’m Mauro.</h1>
        <p>Engineer and digital artist. Bicycle enthusiast and passionate 3D modeller. Mountain lover and web dev novice. Avid rock climber and pixel pusher. Home cook and open source fan.</p>
    </div>

    <div class="about__content centered-text flow">
        <h2>Creatives I like</h2>
        <p>An ever growing list of my favourite creative people in alphabetical order.</p>
        <ul>
            {% for artist in fav_people.artists | sortByName %}
                <li><a href="{{ artist.website }}">{{ artist.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>