---
layout: layouts/base
title: About Me
eleventyNavigation:
    key: About
    order: 2
permalink: /{{ eleventyNavigation.key | slug }}/
---

<h1>{{ title }}</h1>


Blablab I should add something here.