---
layout: base
title: Contact
eleventyNavigation:
    key: contact
    order: 3
permalink: /{{ eleventyNavigation.key | slug }}/
---

<div class="centered-text flow"> 
    <h1 class="heading-underline">Let’s talk!</h1>
    <p> Do you have any questions? Comments? Or just want to say hi? Feel free to pop me a message using the form below.</p>
    {% include "contact-form.njk" %}
</div>



