---
layout: base
title: Contact
eleventyNavigation:
    key: contact
    order: 3
permalink: /{{ eleventyNavigation.key | slug }}/
---

<h1>{{ title }}</h1>


Nice to meet you. You can contact me at blabla@blabla.com.