---
layout: base
title: Contact
eleventyNavigation:
    key: contact
    order: 3
permalink: /{{ eleventyNavigation.key | slug }}/
---

<div class="centered-text flow"> 
    <h1 class="heading-underline">Let’s talk!</h1>
    <p> If you have any questions or just want to say hi, feel free to use the form below.
        I’ll get back to you as soon as possible.
    </p>

    {% include "contact-form.njk" %}
</div>



