---
layout: base
eleventyNavigation:
    key: Work
    order: 1
permalink: /
---

{# Gallery #}
<div class="portfolio-gallery">
    {% for item in collections.work -%}

        <a
            href="{{ item.url }}"
            aria-label="See {{ item.data.title }}"
            class="portfolio-item"
        >
        <img
          src="{{ item.data.thumbnail }}"
          loading="lazy"
        />
        <div class="portfolio-item__overlay"></div>
        <div class="portfolio-item__text">
            <h1 class="portfolio-item__title">{{ item.data.title }}</h1>
        </div>
        </a>

    {%- endfor %}
</div>