<!DOCTYPE html>
<html class="no-js" lang="{{ site.lang }}">
<!--!
    Are you inspecting my website?
    View the source here: {{ site.repo }}
-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "meta.njk" %}
        <title>{%- if title -%}{{ title }} | {{ site.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!--link rel="preload" href="{{ '/assets/fonts/noe-display-medium.woff2' | url }}" as="font" type="font/woff2" crossorigin-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700,900" rel="stylesheet">
        <link rel="stylesheet" href="/assets/styles/main.css">
    </head>

    <body>
        {% include "header.njk" %}

        <main role="main" id="main" tabindex="-1">
            <div class="wrapper">
                {{ content | safe }}
            </div>
        </main>

        {% include "footer.njk" %}

        {# Main js bundle #}
        <script src="/assets/scripts/main.js" charset="utf-8"></script>
    </body>
</html>