.footer {
  margin-top: auto;
  padding-top: 2.5rem;

  @include media-query('lg') {
    padding-top: 4.3rem;
  }

  &__inner {
    background-color: get-color('primary');
    padding: 2.5rem;
    justify-content: center;
  }

  .social-links {
    display: flex;
    height: auto;
    margin: 0;
    padding: 0;
    justify-content: center;

    li {
      list-style: none;
      padding: 0.625rem;
    }

    // Display link as a circle with symbol
    a {
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.625rem;
      font-size: get-size('500');
      text-align: center;
      color: get-color('primary');
      background-color: get-color('light');
      
      &:hover, &:focus {
        color: get-color('secondary');
      }
    }
  }
}