.nav {

  // Parent selector
  $self: &;

  &__content {
    position: fixed;
    display: flex;
    visibility: hidden;
    background-color: get-color('light');
    inset: 0;
    opacity: 0.7;
    clip-path: circle(0px at top right);
    transition: 
      clip-path ease-in-out 500ms, 
      visibility ease-in-out 500ms, 
      opacity ease-in-out 500ms;
    z-index: 100;
  }

  // Nav menu ul
  &__menu {
    display: none;
    margin: auto;
    text-align: center;
    padding: 0;
  }
  
  // Nav item li
  &__item {
    margin-bottom: 2em;

    // Current page active item
    &--active {
      ::after {
        content:'';
        position: absolute;
        bottom: -0.1em;
        left: 0;
        height: 0.2em;
        width: 100%;
        background-color: get-color('primary');
      }
    }

    &:hover,
    &:focus {
      color: get-color('secondary');

      ::after {
        background-color: get-color('secondary');
      }
    }
  }

  // Nav link
  &__link {
    position: relative;
    color: get-color('primary');
    @include apply-utility('weight', 'bold');
    text-transform: uppercase;
    font-size: get-size('600');

    @include media-query('lg') {
      font-size: get-size('400');
    }
  }

  // Hamburger menu toggle
  &__toggle {
    background-color: transparent;
    position: relative;
    border: 0;
    text-align: left;
    transform: translateY(-0.5rem);
    padding: 0.7rem 0;
    cursor: pointer;
    z-index: 101;
  }

  // Navigation open
  &--open {

    #{$self}__content {
      opacity: 1;
      clip-path: circle(150% at top right);
      visibility: visible;
    }

    #{$self}__menu {
      display: block;
    }
  }

  // ----------------------------
  // Desktop version
  // ---------------------------

  @include media-query('lg') {

    &__menu {
      display: block;
    }

    &__content {
      opacity: 1;
      clip-path: initial;
      background-color: transparent;
      position: relative;
      margin-left: auto;
      visibility: visible;
    }

    &__item {
      display: inline-block;
      margin-left: 3em;
    }

    // Hide nav toggle on desktop version
    &__toggle {
      display: none;
    }
  }
}