.portfolio-item {

  $self: &;

  position: relative;
  text-align: center;
  vertical-align: middle;
  aspect-ratio: 1 / 1;
  padding-top: 100%;  // Fallback if aspect-ratio not supported
  overflow: hidden;

  &__overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity ease 200ms;
    background-color: get-color('primary');
  }

  &__text {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    padding: 10%;
    transform: translateY(0.625rem);
    transition: all ease 200ms;
  }

  &__title {
    color: get-color('light');
    font-size: get-size('800');
    @include apply-utility('weight', 'bold');
  }

  img {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 200ms;
  }

  @include hover-focus {
    #{$self}__text {
      transform: translateY(0);
      opacity: 1;
    }

    #{$self}__overlay {
      opacity: 0.9;
    }

    img {
      transform: scale(1.05);
    }
  }
}